body {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: cyan;
    background-color: black;
    padding-left: 10px;
    height: 40px;
    
}

h2 {
    color: aliceblue;
    background-color: blueviolet;
    text-align: center;
    font-style: italic;
    height: 40px;
}

h3 {
    color: aliceblue;
    background-color: blueviolet;
    text-align: right;
    text-decoration: underline;
    padding-right: 10px;
    height: 40px;
    text-align: right;
    
}

#etiqueta {
    color: aliceblue;
}